<html>
    <head>
        <title>Opera</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> 

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js'></script>


        <!-- Custom CSS -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="{{url_for('static', filename='script.js') }}"></script>

        

    </head>

    <body>
        <div class="container background">
            <div class="jumbotron inner-bg">
                <h1>Opera</h1>
                <p>See who's working and who isn't</p>
                <p><a class="btn btn-danger btn-lg" id="wungjaelee" href="#" role="button">Wung Jae</a></p>
                <p><a class="btn btn-danger btn-lg" id="meipa" href="#" role="button">공잘마</a></p>
                <p><a class="btn btn-danger btn-lg" id="myidsan" href="#" role="button">Stan</a></p>
                <p><a class="btn btn-danger btn-lg" id="jameswhang" href="#" role="button">James</a></p>
            </div>

        </div>
    </body>
</html>
